<h1>Listing internships</h1>

<%= form_for @search do |f| %>
  <p>
    <%= f.label :title_contains %>
    <%= f.text_field :title_contains %>
  </p>
  <p><%= f.submit "Search" %></p>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Sector</th>
    <th>Languages</th>
    <th>Length</th>
    <th>Location</th>
    <th>Type</th>
    <th>Hours</th>
    <th>Salary</th>
    <th>Company description</th>
    <th>Internship</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @internships.each do |internship| %>
  <tr>
    <td><%= internship.title %></td>
    <td><%= internship.sector %></td>
    <td><%= internship.languages %></td>
    <td><%= internship.length %></td>
    <td><%= internship.location %></td>
    <td><%= internship.job_type %></td>
    <td><%= internship.hours %></td>
    <td><%= internship.salary %></td>
    <td><%= internship.company_description %></td>
    <td><%= internship.internship %></td>
    <td><%= link_to 'Show', internship %></td>
    <td><%= link_to 'Edit', edit_internship_path(internship) %></td>
    <td><%= link_to 'Destroy', internship, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Internship', new_internship_path %>
